<div class="alert alert-info">
  <div class="password-check">
    <span>
        <i *ngIf="control.value.length === 0 || control.hasError('minlength')" class="fa fa-times bad" aria-hidden="true"></i>
        <i *ngIf="control.value.length > 0 && !control.hasError('minlength')" class="fa fa-check good" aria-hidden="true"></i>
      </span> Required Length
    <span *ngIf="control.hasError('minlength')">
        ({{control.errors['minlength'].actualLength}} / {{control.errors['minlength'].requiredLength}})
    </span>
  </div>
  <div>
    <span>
          <i *ngIf="control.value.length === 0 || control.hasError('containsUpperCase')" class="fa fa-times bad" aria-hidden="true"></i>
          <i *ngIf="control.value.length > 0 && !control.hasError('containsUpperCase')" class="fa fa-check good" aria-hidden="true"></i>
      </span> Contains upper case
  </div>
  <div>
    <span>
        <i *ngIf="control.value.length === 0 || control.hasError('containsLowerCase')" class="fa fa-times bad" aria-hidden="true"></i>
        <i *ngIf="control.value.length > 0 && !control.hasError('containsLowerCase')" class="fa fa-check good" aria-hidden="true"></i>
      </span> Contains lower case
  </div>
  <div>
    <span>
        <i *ngIf="control.value.length === 0 || control.hasError('containsSpecial')" class="fa fa-times bad" aria-hidden="true"></i>
        <i *ngIf="control.value.length > 0 && !control.hasError('containsSpecial')" class="fa fa-check good" aria-hidden="true"></i>
      </span> Contains special character (#?!@$%^&*-)
  </div>
</div>